<script>
  const qaUsers = <%= raw(@qa_users.to_json) %>;
  const developerUsers = <%= raw(@developer_users.to_json) %>;
</script>



<h1>New project</h1>

<%= render "form", project: @project, qa_users: @qa_users %>

<br>

<div>
  <%= link_to "Back to projects", projects_path %>
</div>
