<!-- app/views/livesearch/search.turbo_stream.erb -->
<%= turbo_stream.replace 'suggestions' do %>
  <div id="suggestions" style="position: absolute; border: 1px solid #ccc; top: 100%; width: 100%; max-height: 100px; overflow-y: auto; background: white; z-index: 10;">
    <% if @projects.present? %>
      <% @projects.each do |project| %>
        <p>
          <%= project.name %>
        </p>
      <% end %>
    <% else %>
      <p>No projects found</p>
    <% end %>
  </div>
<% end %>
