<turbo-stream target="suggestions" action="replace">
  <template>
    <ul>
      <% @projects.each do |project| %>
        <li><%= project.name %></li>
      <% end %>
    </ul>
  </template>
</turbo-stream>