<!-- app/views/search/suggestion.turbo_stream.erb -->
<turbo-stream target="suggestions" action="replace">
  <template>
    <% if @projects.any? %>
      <ul>
        <% @projects.each do |project| %>
          <li><%= project.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No results found.</p>
    <% end %>
  </template>
</turbo-stream>
