<h1>Bugs</h1>
<%# search %>

<div style="position: relative; width:70%; margin: 0 auto" data-controller="bugsearch">
  <%= form_with(url: live_suggestions_path, method: :post, local: true, data: { action: 'input->search#handleChange' }) do |f| %>
    <%= f.search_field :search, placeholder: 'Search here', style: 'width: 100%;' %>
  <% end %>
  <div data-search-target="container" id="suggestions" style="position: absolute; border: 1px solid #ccc; top: 100%; width: 100%; max-height: 100px; overflow-y: auto; background: black; z-index: 10;"></div>
</div>

<%# <%end%>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>

<% @bugs.each do |bug| %>
  <%= render bug %>
  
<% end %>
