<div id="<%= dom_id bug %>">
  <p>
    <strong>Description:</strong>
    <%= bug.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bug.status %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= bug.project_id %>
  </p>

</div>
