<h1>Editing bug</h1>

<%= render "form", bug: @bug, project: @project, developer_users: @developer_users %>

<br>

<div>
  <%= link_to "Show this bug", [@project, @bug] %> |
  <%= link_to "Back", root_path %>
</div>
